---
import Button from '@/components/ui/buttons/Button.astro';
import { contactInfo, socialLinks } from '@/config/socialLinks.data';
import { t } from '@/lib/utils';
---

<div class="flex h-full flex-col justify-between pt-3">
  <div id="contact-info" class="space-y-8">
    <!-- Office -->
    <div
      class="flex flex-col items-start gap-2 border-b border-white/10 pb-8 md:flex-row md:items-center md:justify-between"
    >
      <span class="font-boldonse text-primary text-base md:text-lg">{t('contact.office')}</span>
      <div class="text-lg leading-relaxed font-light text-white/70">
        <p>{contactInfo.address.street}</p>
        <p>{contactInfo.address.city}</p>
        <p>{contactInfo.address.country}</p>
      </div>
    </div>

    <!-- Email -->
    <div
      class="flex flex-col items-start gap-2 border-b border-white/10 pb-8 md:flex-row md:items-center md:justify-between"
    >
      <span class="font-boldonse text-primary text-base md:text-lg">{t('contact.email')}</span>
      <Button variant="underline" size="underline" class="text-primary/70" href={`mailto:${contactInfo.email}`}>
        {contactInfo.email}
      </Button>
    </div>

    <!-- Telephone -->
    <div
      class="flex flex-col items-start gap-2 border-b border-white/10 pb-8 md:flex-row md:items-center md:justify-between"
    >
      <span class="font-boldonse text-primary text-base md:text-lg">{t('contact.phone')}</span>
      <Button variant="underline" size="underline" class="text-primary/70" href={`tel:${contactInfo.phone}`}>
        {contactInfo.phone}
      </Button>
    </div>
  </div>

  <!-- Follow Us -->
  <div id="follow-us" class="mt-12 md:mt-24">
    <span class="font-boldonse mb-4 block text-base text-white/90 md:text-lg">{t('contact.follow')}</span>
    <div class="flex flex-wrap gap-6">
      {
        socialLinks.map((link) => (
          <Button
            variant="underline"
            size="underline"
            class="text-primary/70"
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
          >
            {link.label}
          </Button>
        ))
      }
    </div>
  </div>
</div>
